.user-item-container {
    display: flex;
    align-items: center;
    align-self: center;
  }
  
  .user-item-image {
    border-radius: 50%;
    margin-right: 10px;
    width: 50px;
    height: 50px;
  }
  
  .user-item-info {
    display: flex;
    flex-direction: column;
    align-items: flex-start;
    flex-grow: 1;
  }
  
  .user-item-email {
    margin-left: auto;
  }
  